page-home {

}

.beer-placeholder {
    border: black;
    border-width: 2px;
    border-style: dotted;
    height: 80%;
    line-height: 150px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

div > .centered-button{
  margin-top: 10%; // this moves the add drink button down 10%
}

.centered-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
